#addtodo {
  width: 60%;
  margin: auto;
}

.addtodo-form,
.addtodo-footer {
  margin-top: 40px;
}

.addtodo-title {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.8);
}

.addtodo-article {
  margin-top: 30px;
  color: gray;
  font-weight: 600;
  font-size: 16px;
}

label {
  display: block;
}

.addtodo-article > input {
  margin-top: 10px;
  padding: 5px;
  font-size: 1.1rem;
}

#what-todo {
  width: 100%;
}

#who-todo {
  width: 50%;
}

.addtodo-footer {
  display: flex;
  justify-content: space-between;
}

#addtodo-pre {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 0.2rem;
}

#addtodo-pre > a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#addtodo-pre > a:hover {
  font-weight: 800;
}

.addtodo-btns {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

#addtodo-btn {
  margin-left: 20px;
  all: unset;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  background-color: var(--btnColor);
  border-radius: 0.2rem;
}

#addtodo-btn:hover {
  font-weight: 800;
}
