#main-addtodo {
  font-size: 14px;
  padding: 10px 30px;
  background-color: var(--btnColor);
  border-radius: 0.2rem;
}

#main-addtodo > a {
  display: block;
  text-decoration: none;
  color: white;
}

#main-addtodo > a:hover {
  font-weight: 800;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 30px 0px;
}

.main-title {
  position: absolute;
  left: -20px;
  color: var(--mainColor);
  font-size: 24px;
  font-weight: 800;
  transform: rotate(-30deg);
}

.main-section {
  display: flex;
  justify-content: flex-end;
}

.main-article {
  margin-left: 10px;
  width: 30%;
}

.list-title,
.list-todos > li {
  border-radius: 0.2rem;
}

.list-title {
  padding: 20px;
  font-size: 20px;
  background-color: var(--mainColor);
  color: white;
  font-weight: 600;
}

.list-todos {
  margin-top: 10px;
}

.list-todos > li {
  background-color: var(--listColor);
  padding: 20px;
}
