.aboutme-section {
  text-align: left;
}

.aboutme-article {
  margin: 10px 60px 40px;
}

.aboutme-article > h1 {
  margin-bottom: 5px;
}

.aboutme-article > p {
  margin-top: 0px;
  font-size: 14px;
}
