.nav li {
  width: 120px;
  line-height: 30px;
}

.nav li:last-child {
  margin-right: 15px;
}

.index-btns li {
  width: 120px;
  line-height: 120px;
}

.map {
  width: 70%;
}

.index-article {
  text-align: center;
}
